.card {
    background-color: #f7f0f7;
    background-size: 30px 30px;
    background-image:  repeating-linear-gradient(0deg, #ffb0be80, #ffb0bf80 1.5px, #f7f0f780 1.5px, #f7f0f780);
    box-shadow: 0 60px 60px -60px rgba(0, 0, 0, 0.45);
    opacity: 0.8;

    min-width: 200px;
    max-width: 350px;
    padding: 40px 20px;

    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    gap: 20px;

    position: relative;

    transition: all 0.25s;

    &:hover {
        box-shadow: 0 100px 100px -100px rgba(0, 0, 0, 0.65);
    }

    .title {
        text-align: center;
    }

    .note-body {
        width: 100%;

        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-direction: column;
        gap: 10px;
    }

    .list-items {
        list-style: none;

        width: 100%;

        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-direction: column;
        gap: 10px;

        li {
            display: flex;
            gap: 20px;

            .strike {
                text-decoration: line-through;
                color: #3085d6;
            }   
        }
    }

    .trash {
        cursor: pointer;
        background-image: linear-gradient(60deg, rgba(41, 50, 60, 0.75) 0%, rgba(72, 85, 99, 0.75) 100%);
        color: white;
        font-size: 0.8rem;
        border: 1px solid white;
        border-radius: 8px;

        width: 30px;
        height: 30px;

        display: flex;
        justify-content: center;
        align-items: center;

        position: absolute;
        bottom: -10px;
        right: -10px;

        transition: color 0.2s;

        &:hover {
            color: $light-red;
        }
    }
}