form {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-direction: column;
    gap: 40px;

    .head {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;

        input {
            border: none;
            border-radius: 8px;
    
            width: 500px;
            height: 40px;
            padding: 20px;
        }
    
        button {
            @include create-button(white, white, 40px, white, black);
        }
    }

    .body {
        width: 100%;
    }

    .buttons {
        width: 100%;
        
        display: flex;
        justify-content: flex-end;
        align-items: center;
        gap: 20px;
        
        .add-button {
            @include create-button(white, white, 50%, white, black);
        }
    
        .delete-button {
            @include create-button(red, red, 50%, white, red);
        }
    }
}