form {
    width: 100%;
    
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 40px;

    .head {
        width: 100%;

        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;

        input {
            font-family: $main-font;
            font-size: 0.8rem;
            border: none;
            border-radius: 8px;
    
            width: 100%;
            max-width: 500px;
            height: 40px;
            padding: 20px;
        }
    
        button {
            @include create-button(white, white, 40px, white, black);
            min-width: 40px;
        }
    }

    .body {
        width: 100%;
    }

    .buttons {
        width: 100%;
        max-width: 620px;
        
        display: flex;
        justify-content: flex-end;
        align-items: center;
        gap: 20px;
        
        .add-button {
            @include create-button(white, white, 50%, white, black);
        }
    
        .delete-button {
            @include create-button(white, white, 50%, #ffb0bf, black);
        }
    }
}