.list {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 40px;

    .list-head {
        width: 100%;
        max-width: 620px;

        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: row;
        gap: 20px;

        .item {
            font-family: $main-font;
            font-size: 0.8rem;
            border: none;
            border-radius: 8px;
    
            width: 100%;
            max-width: 620px;
            height: 40px;
            padding: 20px;
        }
    
        .add-item {
            cursor: pointer;
            border: none;
            border-radius: 8px;

            min-width: 40px;
            width: 40px;
            height: 40px;
    
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }

    .list-body {
        border: 1px solid white;
        border-radius: 8px;

        width: 100%;
        max-width: 620px;
        padding: 10px;

        ul {
            list-style: none;

            width: 100%;
            max-width: 620px;

            display: flex;
            justify-content: center;
            align-items: flex-start;
            flex-direction: column;
            gap: 20px;
        }
    }
}